// Logo
.logo-splash {
    animation: fadeLogo 1s;
    width: 75%;
}

// General Info
p.desc {
    animation: fadeSplash 1.5s;
}

// Responsive row
.btn-wrapper, .stats-wrapper {
    gap: 0.5em;

    flex-direction: column;
    align-items: center;
}

// Bot Stats
.stats-wrapper h2 {
    font-size: 4em;
}

.stats-wrapper .stat-users {
    animation: fadeSplash 2s;
}

.stats-wrapper .stat-guilds {
    animation: fadeSplash 2.25s;
}

.stats-wrapper .stat-profiles {
    animation: fadeSplash 2.5s;
}

.btn-wrapper > .btn {
    color: #FFFFFF;
    box-shadow: 4px 4px 5px #00000080;

    padding: 16px 32px !important;
    transition: 0.3s;
}

.btn-wrapper > .btn:hover {
    color: #000000;
    background-color: #FFFFFF;
    transform: scale(90%);
}

.btn-invite {
    background-color: #3246a8;
    animation: fadeSplash 3s;
}

.btn-wiki {
    background-color: #2f48ba;
    animation: fadeSplash 3.25s;
}

.btn-discord {
    background-color: #1f35a3;
    animation: fadeSplash 3.5s;
}

// Animations
@keyframes fadeLogo {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0px);  }
}

@keyframes fadeSplash {
    0% { opacity: 0; }
    50% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0px); }
}

@media only screen and (min-width: 000px) {
    .logo-splash {
        width: 50%;
    }
}

@media only screen and (min-width: 75rem) {
    .btn-wrapper, .stats-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .stats-wrapper {
        gap: 12em;
    }

    .logo-splash {
        width: 35%;
    }
}
